.dxvgControl_Metropolis,
.dxvgDisabled_Metropolis
{
    border: 1px Solid #c0c0c0;
    font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    background-color: White;
    color: #333333;
    cursor: default;
}
.dxvgDisabled_Metropolis
{
    color: #b8b8b8;
}
.dxvgControl_Metropolis a
{
    color: #F7A233;
}
.dxvgDisabled_Metropolis a
{
    color: #b8b8b8;
}
.dxvgTable_Metropolis
{
    background-color: White;
    border-width: 0;
    border-collapse: separate !important;
    overflow: hidden;
    table-layout: fixed;
}
.dxvgTable_Metropolis .dxvgHEC
{
    background-color: White;
    border-width: 0;
    overflow: hidden;
}
.dxvgHeader_Metropolis
{
    cursor: pointer;
    font-weight: normal;
    text-align: left;
    background-color: white;
    padding: 4px 6px 5px;
    border: 1px Solid #c0c0c0;
    border-width: 0 1px 1px 0;
    overflow: hidden;
    white-space: nowrap;
}
.dxvgCategory_Metropolis
{
    font-weight: bold;
    background-color: white;
    padding: 9px 6px;
    border-bottom: 1px solid #cacbd3;
    overflow: hidden;
    white-space: nowrap;
}
.dxvgCSD .dxvgCategory_Metropolis:not(.dxvg__I)
{
    border-right: 1px solid #cacbd3;
}
.dxvgCategoryRow_Metropolis.dxvgER .dxvgCategory_Metropolis,
.dxvgCategoryRow_Metropolis.dxvgCR .dxvgCategory_Metropolis
{
    cursor: pointer;
}
.dxvgCategoryRow_Metropolis.dxvgER .dxvgCategory_Metropolis.dxvg__I,
.dxvgCategoryRow_Metropolis.dxvgCR .dxvgCategory_Metropolis.dxvg__I
{
    cursor: default;
}
.dxvgRecord_Metropolis
{
    padding: 3px 6px 4px;
    border: 1px Solid #c0c0c0;
    border-width: 0 1px 1px 0;
    background: White;
    overflow: hidden;
}
.dxvgRecord_Metropolis:last-child
{
    border-right-width: 0;
}
.dxvgRPFC .dxvgRecord_Metropolis
{
    border-bottom: 1px Solid #cacbd3;
}
.dxvgGLNV .dxvgRecord_Metropolis
{
    border-right-width: 0;
}
.dxvgGLNH .dxvgRecord_Metropolis
{
    border-bottom-width: 0;
}
.dxvgGLNH .dxvgRPFC .dxvgRecord_Metropolis
{
    border-bottom-width: 1px;
}
.dxvgGLNH .dxvgRPFC.dxvgER .dxvgRecord_Metropolis
{
    border-bottom-width: 0;
}
.dxvgFC .dxvgGLNH tr:last-child .dxvgRecord_Metropolis
{
    border-bottom-width: 1px;
}
.dxvgControl_Metropolis .dxvgFCSD
{
    border-top: 1px solid #cacbd3;
}
.dxvgRecordAlt_Metropolis
{
    background-color: WhiteSmoke;
}
/* Select, Hover */
.dxvgSelectedRecord_Metropolis
{
    background-color: #e0e0e0;
    color: #333333;
}
.dxvgSelectedRecord_Metropolis a
{
    color: #F7A233;
}
.dxvgDataRowHover_Metropolis .dxvgRecord_Metropolis
{
    background-color: #f0f0f0;
    color: #333333;
}
.dxvgDataRowHover_Metropolis a
{
    color: #F7A233 !important;
}
/* Command Items */
.dxvgCommandCell_Metropolis a,
.dxvgHeader_Metropolis a.dxvgCommandItem_Metropolis
{
    margin: 0 3px 0 0;
}
.dxvgHeader_Metropolis a,
.dxvgCommandCell_Metropolis a
{
    color: #F7A233;
}
.dxbButton_Metropolis[class~="dxvgCommandItem_Metropolis"]
{
    margin: 0px 2px -1px;
}
.dxbButton_Metropolis[class~="dxvgCommandItem_Metropolis"] .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}
/* Indents */
.dxvgControl_Metropolis .dxvg__I
{
    border-style: solid;
    border-color: #cacbd3;
    border-width: 0 1px 0 0;
    cursor: default;
}
.dxvgControl_Metropolis .dxvg__I.dxvg__BB
{
    border-bottom-width: 1px;
}
.dxvgControl_Metropolis .dxvgER .dxvg__I.dxvg__BB
{
    border-bottom-width: 0;
}
.dxvgControl_Metropolis .dxvgMHI .dxvg__I
{
    border-right-width: 0;
}
.dxvgControl_Metropolis .dxvgMHI .dxvgER .dxvg__I.dxvg__BB
{
    border-bottom-width: 1px;
}
/* Title Panel, Status bar, Summary Panel */
.dxvgTitlePanel_Metropolis,
.dxvgTable_Metropolis caption
{
    font-size: 1.25em;
    font-weight: normal;
    padding: 3px 3px 5px;
    text-align: center;
    color: #999999;
    border-bottom: 1px Solid #c0c0c0;
}
.dxvgStatusBar_Metropolis
{
    border-top: 1px Solid #c0c0c0;
}
.dxvgStatusBar_Metropolis tr.dxvg
{
    height: 20px;
}
.dxvgStatusBar_Metropolis tr.dxvg > td
{
    padding: 4px;
}
.dxvgStatusBar_Metropolis tr.dxvg span .dxbButtonSys:first-child
{
    margin-left: 20px;
}
.dxvgSummaryPanel_Metropolis
{
    border-top: 1px solid #c0c0c0;
    padding: 8px 21px;
}
.dxvgSummaryItem_Metropolis
{
    display: inline-block;
    margin: 5px 8px 5px 0;
}
/* Pager */
.dxvgPagerTopPanel_Metropolis,
.dxvgPagerBottomPanel_Metropolis
{
    padding: 4px 0;
}
.dxvgPagerTopPanel_Metropolis
{
    border-bottom: 1px Solid #c0c0c0;
}
.dxvgPagerBottomPanel_Metropolis
{
    border-top: 1px Solid #c0c0c0;
}
.dxvgControl_Metropolis .dxpLite_Metropolis,
.dxvgDisabled_Metropolis .dxpLite_Metropolis
{
    padding-top: 4px;
}
/* Toolbar */
.dxvgControl_Metropolis .dxctToolbar_Metropolis.dxm-main.dxvgCTTop
{
    border-bottom: 1px solid #cacbd3;
}
.dxvgControl_Metropolis .dxctToolbar_Metropolis.dxm-main.dxvgCTBottom
{
    border-top: 1px solid #cacbd3;
}
/* Filter Builder, Filter Bar */
.dxvgFilterBar_Metropolis
{
    border-top: 1px Solid #c0c0c0;
}
.dxvgFilterBar_Metropolis a
{
    color: #F7A233;
    text-decoration: underline;
}
.dxvgFilterBarCheckBoxCell_Metropolis
{
    padding: 0 7px;
}
.dxvgFilterBarImageCell_Metropolis
{
    padding: 0 1px 0 3px;
    cursor: pointer;
}
.dxvgFilterBarExpressionCell_Metropolis
{
    padding: 5px 5px 8px 0;
    white-space: nowrap;
}
.dxvgFilterBarClearButtonCell_Metropolis
{
    padding: 5px 6px 8px;
}
.dxvgFilterBuilderMainArea_Metropolis
{
    background: white none;
    padding: 6px 2px;
}
.dxvgFilterBuilderButtonArea_Metropolis
{
    border-top: 1px solid #c0c0c0;
    padding: 6px;
    white-space: nowrap;
}
/* Header Filter */
.dxvgControl_Metropolis .dxvgHFSAC
{
    padding: 9px 0 0 4px;
}
.dxvgControl_Metropolis .dxvgHFC
{
    padding-left: 4px;
}
.dxvgControl_Metropolis .dxvgHFC .dxeCalendar_Metropolis
{
    margin-top: 3px;
    margin-left: 7px;
}
.dxvgControl_Metropolis .dxvgHFSC
{
    padding: 9px 0 6px;
}
.dxvgControl_Metropolis .dxvgHFSC div
{
    height: 1px;
    background: #c0c0c0;
}
.dxvgControl_Metropolis div[id$='DXEPLPC']
{
    height: 53px;
}
.dxvgControl_Metropolis .dxvgHFSD
{
    height: 1px;
    margin: 2px 0;
}
.dxvgControl_Metropolis .dxvgHFDRC
{
    margin: 15px 15px 25px;
}
.dxvgControl_Metropolis .dxvgHFDRP
{
    margin-left: 15px;
    margin-right: 15px;
    padding: 9px 0 6px;
}
.dxvgControl_Metropolis .dxvgHFDRP[id*="HFFDE"]
{
    margin-top: 15px;
    margin-bottom: 5px;
}
.dxvgControl_Metropolis .dxvgHFDRP[id*="HFTDE"]
{
    margin-bottom: 25px;
}
/* Batch Edit */
.dxvgControl_Metropolis td.dxvgBatchEditCell_Metropolis
{
    padding: 0 2px;
}
.dxvgControl_Metropolis td.dxvgBatchEditModifiedCell_Metropolis
{
    background: #d7f9c7;
}
.dxvgBatchEditDeletedItem_Metropolis,
.dxvgBatchEditNewItem_Metropolis.dxvgBatchEditDeletedItem_Metropolis
{
    background: #EFEFEF;
}
td.dxvgBatchEditDeletedItem_Metropolis:not(.dxvgCommandColumn_Metropolis)
{
    color: rgba(0,0,0,0.5);
}
.dxvgBatchEditDeletedItem_Metropolis.dxvgBatchEditModifiedCell_Metropolis
{
    background: #eefbe7 !important;
}
.dxvgBatchEditNewItem_Metropolis
{
    background: #F0FAEA;
}
.dxvgControl_Metropolis .dxvgErrorCell
{
    padding-left: 5px;
    width: 1px;
}
.dxvgControl_Metropolis .dxvgErrorCell img
{
    margin: -3px 0;
}
.dxvgStatusBar_Metropolis .dxbButton_Metropolis
{
    margin-right: 10px;
}
.dxvgControl_Metropolis td.dxvgBatchEditCell_Metropolis .dxichCellSys
{
    padding-left: 0;
}
.dxvgRecordError_Metropolis
{
    background-color: #FFC8C8;
    color: #FF0000;
    padding: 6px 10px;
    height: 100%;
}
.dxvgERV .dxvgRecord_Metropolis
{
    display: none;
}
.dxvgEmptyRecord_Metropolis
{
    display: none;
    text-align: center;
}
.dxvgERV .dxvgEmptyRecord_Metropolis
{
    display: table-cell;
}
/* LoadingPanel */
.dxvgLoadingPanel_Metropolis
{
    border: 1px solid #C3C3C3;
    background-color: white;
    font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #333333;
}
.dxvgLoadingPanel_Metropolis td.dx
{
    font-size: 1.17em;
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}
.dxvgLoadingPanel_Metropolis .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 32px;
    width: 32px;
}
.dxvgLoadingPanelStatusBar_Metropolis .dxlp-loadingImage
{
    background-image: url('../GridView/gvLoadingOnStatusBar.gif');
    height: 16px;
    width: 16px;
}
.dxvgLoadingPanelStatusBar_Metropolis
{
    background-color: Transparent;
}
.dxvgLoadingPanelStatusBar_Metropolis td
{
    white-space: nowrap;
    text-align: center;
    padding: 0px 2px;
}
/* Search Panel */
.dxvgSearchPanel_Metropolis
{
    padding: 7px 4px 7px 6px;
    border-bottom: 1px solid #c0c0c0;
}
.dxvgSearchPanel_Metropolis > table
{
    width: 70%;
    max-width: 450px;
}
.dxvgControl_Metropolis .dxvgSearchPanel_Metropolis .dxbButton_Metropolis
{
    margin-left: 7px;
    margin-right: 0;
}
*[dir="rtl"].dxvgControl_Metropolis .dxvgSearchPanel_Metropolis .dxbButton_Metropolis
{
    margin-left: 0;
    margin-right: 7px;
}
.dxvgControl_Metropolis .dxvgHL
{
    background: #ffd83a;
    color: #333333;
    font-weight: bold;
    font-style: normal;
}
/* TODO remove (replace to command button style) */
.dxvgControl_Metropolis .dxvgSearchPanel_Metropolis .dxbButton_Metropolis
{
    font-size: 0.9em;
    margin-top: -2px;
    margin-bottom: -2px;
}
.dxvgControl_Metropolis .dxvgSearchPanel_Metropolis .dxbButton_Metropolis .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}
/* Removes flicking in iOS Safari*/
.dxvgTable_Metropolis
{
    -webkit-tap-highlight-color: transparent;
}
.dxvgFocusedCell_Metropolis
{
    box-shadow: inset 2px 2px 0 #2292B1, inset -2px -2px 0 #2292B1;
    -webkit-box-shadow: inset 2px 2px 0 #2292B1, inset -2px -2px 0 #2292B1;
    -moz-box-shadow: inset 2px 2px 0 #2292B1, inset -2px -2px 0 #2292B1;
}
