<?xml version="1.0"?>

<configuration>
    <appSettings/>
    <connectionStrings/>
    <system.web>
		<authorization>
			<allow roles="1"/>
			<!--<deny users="*"/>-->
		</authorization>
	</system.web>
  <location path="indicator.gif">
    <system.web>
      <authorization>
        <allow users="*"/> 
      </authorization>
    </system.web>
  </location>
</configuration>
