<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITokens">
                    <security mode="Transport"/>
                </binding>
                <binding name="BasicHttpBinding_ITokens1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ikc.shaparak.ir/TToken/Tokens.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITokens" contract="EpaymentToken.ITokens" name="BasicHttpBinding_ITokens"/>
          
          
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
