<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TSP.DataManager.Properties.Settings.NezamFarsConnectionStringtestserver" connectionString="Data Source=193.19.145.173;Initial Catalog=NezamFars;User ID=sa;Password=1234567890" providerName="System.Data.SqlClient"/>
    <add name="TSP.DataManager.Properties.Settings.NezamFarsConnectionStringMainServer202" connectionString="Data Source=193.19.145.173;Initial Catalog=NezamFars;User ID=tspadmin;Password=1234567890" providerName="System.Data.SqlClient"/>
    <add name="TSP.DataManager.Properties.Settings.NezamFarsConnectionStringLocal" connectionString="Data Source=192.168.1.4;Initial Catalog=NezamFars;User ID=sa" providerName="System.Data.SqlClient"/>
    <add name="TSP.DataManager.Properties.Settings.NezamFarsConnectionString" connectionString="Data Source=192.168.1.4;Initial Catalog=NezamFars;User ID=sa" providerName="System.Data.SqlClient"/>
    <add name="TSP.DataManager.Properties.Settings.NezamFarsConnectionString1" connectionString="Data Source=19.168.1.4;Initial Catalog=NezamFars;Persist Security Info=True;User ID=tspadmin;Password=1234567890" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CheckOfflineDebtSoap"/>
        <binding name="LoanWebServiceSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://185.51.41.34:8092/CheckOfflineDebt.asmx" binding="basicHttpBinding" bindingConfiguration="CheckOfflineDebtSoap" contract="CheckOfflineDebt.CheckOfflineDebtSoap" name="CheckOfflineDebtSoap"/>
     
      <endpoint address="http://193.19.144.250:8741/LoanWebService.asmx" binding="basicHttpBinding" bindingConfiguration="LoanWebServiceSoap" contract="LoanWebService.LoanWebServiceSoap" name="LoanWebServiceSoap"/>
    </client>
  </system.serviceModel>
</configuration>
