<?xml version="1.0"?>

<configuration>
  <appSettings>
<!--    <add key="Email_Pass" value="nezamfars2012" />-->
    <add key="Show" value="0" />
    <add key="txtShow" value="باعرض پوزش از کندی پیش آمده در سرعت!جهت اطلاعات بیشتر با مدیریت تماس حاصل نمایید" />
  </appSettings>  
  <connectionStrings/>
  <system.web>
    <authorization>
      <allow users="admin" />
      <deny users="*"/>
    </authorization>
  </system.web>
</configuration>