.dxPivotGrid_CTNAttribute,
.dxPivotGrid_CTNCalculatedMeasure,
.dxPivotGrid_CTNDimension,
.dxPivotGrid_CTNFolderClosed,
.dxPivotGrid_CTNFolderOpen,
.dxPivotGrid_CTNHierarchy,
.dxPivotGrid_CTNKpi,
.dxPivotGrid_CTNMeasure,
.dxPivotGrid_FLBottomPanelOnly1by4_Metropolis,
.dxPivotGrid_FLBottomPanelOnly2by2_Metropolis,
.dxPivotGrid_FLButton_Metropolis,
.dxPivotGrid_FLColumnAreaHeaders_Metropolis,
.dxPivotGrid_FLDataAreaHeaders_Metropolis,
.dxPivotGrid_FLFieldList_Metropolis,
.dxPivotGrid_FLFilterAreaHeaders_Metropolis,
.dxPivotGrid_FLRowAreaHeaders_Metropolis,
.dxPivotGrid_FLStackedDefault_Metropolis,
.dxPivotGrid_FLStackedSideBySide_Metropolis,
.dxPivotGrid_FLTopPanelOnly_Metropolis,
.dxPivotGrid_pgCollapsedButton_Metropolis,
.dxPivotGrid_pgCustomizationFormCloseButton_Metropolis,
.dxPivotGrid_pgDataHeaders_Metropolis,
.dxPivotGrid_pgDragArrowDown_Metropolis,
.dxPivotGrid_pgDragArrowLeft_Metropolis,
.dxPivotGrid_pgDragArrowRight_Metropolis,
.dxPivotGrid_pgDragArrowUp_Metropolis,
.dxPivotGrid_pgDragHideField_Metropolis,
.dxPivotGrid_pgExpandedButton_Metropolis,
.dxPivotGrid_pgFilterButton_Metropolis,
.dxPivotGrid_pgFilterButtonActive_Metropolis,
.dxPivotGrid_pgFilterResizer_Metropolis,
.dxPivotGrid_pgGroupSeparator_Metropolis,
.dxPivotGrid_pgPrefilterButton_Metropolis,
.dxPivotGrid_pgSortByColumn_Metropolis,
.dxPivotGrid_pgSortDownButton_Metropolis,
.dxPivotGrid_pgSortUpButton_Metropolis
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxPivotGrid_CTNAttribute
{
    background-position: -205px 0px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNCalculatedMeasure
{
    background-position: -136px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNDimension
{
    background-position: -170px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNFolderClosed
{
    background-position: -102px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNFolderOpen
{
    background-position: -119px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNHierarchy
{
    background-position: -153px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNKpi
{
    background-position: 0px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNMeasure
{
    background-position: -222px 0px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLBottomPanelOnly1by4_Metropolis
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLBottomPanelOnly2by2_Metropolis
{
    background-position: -99px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLButton_Metropolis
{
    background-position: -17px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLColumnAreaHeaders_Metropolis
{
    background-position: -239px 0px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLDataAreaHeaders_Metropolis
{
    background-position: -51px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLFieldList_Metropolis
{
    background-position: -188px 0px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLFilterAreaHeaders_Metropolis
{
    background-position: -85px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLRowAreaHeaders_Metropolis
{
    background-position: -34px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLStackedDefault_Metropolis
{
    background-position: -66px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLStackedSideBySide_Metropolis
{
    background-position: -33px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLTopPanelOnly_Metropolis
{
    background-position: -132px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_pgCollapsedButton_Metropolis
{
    background-position: -218px -19px;
    width: 13px;
    height: 13px;
}
.dxPivotGrid_pgCustomizationFormCloseButton_Metropolis
{
    background-position: -246px -18px;
    width: 14px;
    height: 14px;
}
.dxPivotGrid_pgDataHeaders_Metropolis
{
    background-position: -192px -20px;
    width: 12px;
    height: 12px;
}
.dxPivotGrid_pgDragArrowDown_Metropolis
{
    background-position: -168px -23px;
    width: 11px;
    height: 9px;
}
.dxPivotGrid_pgDragArrowLeft_Metropolis
{
    background-position: -217px -33px;
    width: 9px;
    height: 11px;
}
.dxPivotGrid_pgDragArrowRight_Metropolis
{
    background-position: -227px -33px;
    width: 9px;
    height: 11px;
}
.dxPivotGrid_pgDragArrowUp_Metropolis
{
    background-position: -180px -23px;
    width: 11px;
    height: 9px;
}
.dxPivotGrid_pgDragHideField_Metropolis
{
    background-position: -165px 0px;
    width: 22px;
    height: 22px;
}
.dxPivotGrid_pgExpandedButton_Metropolis
{
    background-position: -232px -19px;
    width: 13px;
    height: 13px;
}
.dxPivotGrid_pgFilterButton_Metropolis
{
    background-position: -187px -33px;
    width: 14px;
    height: 16px;
}
.dxPivotGrid_pgFilterButtonActive_Metropolis
{
    background-position: -202px -33px;
    width: 14px;
    height: 16px;
}
.dxPivotGrid_pgFilterResizer_Metropolis
{
    background-position: -68px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_pgGroupSeparator_Metropolis
{
    background-position: -188px -17px;
    width: 5px;
    height: 1px;
}
.dxPivotGrid_pgPrefilterButton_Metropolis
{
    background-position: -205px -19px;
    width: 12px;
    height: 13px;
}
.dxPivotGrid_pgSortByColumn_Metropolis
{
    background-position: -237px -33px;
    width: 14px;
    height: 6px;
}
.dxPivotGrid_pgSortDownButton_Metropolis
{
    background-position: -252px -33px;
    width: 7px;
    height: 5px;
}
.dxPivotGrid_pgSortUpButton_Metropolis
{
    background-position: -253px -44px;
    width: 7px;
    height: 5px;
}
.dxPivotGrid_pgFilterButtonActive_Metropolis
{
    background-color: #ff8800;
}
.dxPivotGrid_pgCustomizationFormCloseButton_Metropolis,
.dxPivotGrid_FLButton_Metropolis
{
    display:block;
}
