<?xml version="1.0" encoding="utf-8" ?>
<parameters>
	<parameter Name="Font" Value="12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif" Type="String"></parameter>
    <parameter Name="Base Color" Value="#FF8800" Type="Color"></parameter>
    <parameter Name="Table Color" Value="#FF9900" Type="Color" Base="Base Color" Expression="1.124,1,1"></parameter>
    <parameter Name="ProgressBarIndicator Color" Value="#FFAB32" Type="Color" Base="Base Color" Expression="1,0.8,1"></parameter>
    <parameter Name="CalendarWeekend Color" Value="#FF3300" Type="Color" Base="Base Color" Expression="0.374,1,1"></parameter>
    <parameter Name="GroupType Color" Value="#DB3412" Type="Color" Base="Base Color" Expression="0.312,1,0.847"></parameter>
    <parameter Name="TimelineDateHeader Color" Value="#FFD554" Type="Color" Base="Base Color" Expression="1.4,0.66,1"></parameter>
    <parameter Name="TimeMarkerLine Color" Value="#FFC029" Type="Color" Base="Base Color" Expression="1.312,0.833,1"></parameter>
</parameters>

