<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <!--<section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />-->
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
    </sectionGroup>
    <section name="web.optimization" type="Web.Optimization.Configuration.OptimizationSection"/>
  </configSections>
  <appSettings>
    <add key="AdminUserId" value="1"/>
    <add key="CurrentProvinceValueAdId" value="21232F297A57A5A743894A0E4A801FC3$E00CF25AD42683B3DF678C61F42C6BDA"/>
    <add key="WebsiteIsNotAccessible" value="0"/>
    <add key="LoginCookieTimeOut" value="30"/>
    <add key="QueryTimeOut" value="360"/>
    <add key="FileHandlerTimeOut" value="10"/>
    <add key="ShowExceptionError" value="1"/>
    <add key="ShowAccountsForGoods" value="1"/>
    <add key="SavePicInDataBase" value="0"/>
    <add key="MaxSizeForUploadFile" value="900000"/>
    <add key="ShowProject" value="0"/>
    <add key="CostCenter" value="0"/>
    <add key="ir.afe.www.WebService" value="http://www.afe.ir/WebService/V5/BoxService.asmx"/>
    <add key="ir.afe.www.BoxService" value="http://www.afe.ir/WebService/V5/BoxService.asmx"/>
    <add key="SMSUserName" value="samaneh"/>
    <add key="SMSPassWord" value="8275064"/>
    <add key="SMSNumber" value="30007957950106"/>
    <add key="MagfaURL" value="https://sms.magfa.com/services/urn:SOAPSmsQueue?wsdl"/>
    <add key="MagfaSMSUserName" value="nezam_74518"/>
    <add key="MagfaSMSNumber" value="300074518"/>
    <add key="MagfaSMSDomain" value="magfa"/>
    <add key="MagfaSMSPacketSize" value="90"/>
    <add key="PrdcoSMSUserName" value="fceo.ir"/>
    <add key="PrdcoSMSNumber" value="50002349551855"/>
    <add key="PrdcoSMSPacketSize" value="80"/>
    <add key="SMSPacketSize" value="88"/>
    <add key="NoOfSMSPacketSendBeforeThreadSleep" value="2000"/>
    <add key="SMSThreadSleepTime" value="30000"/>
    <add key="CurrentSMSWebService" value="1"/>
    <add key="SoftwareVersion" value="1.0.7"/>
    <add key="SoftwareEditedNo" value="2012.01.01"/>
    <add key="Email_ID" value="nezamfars@gmx.com"/>
    <add key="Email_DisplayName" value="نظام مهندسی ساختمان"/>
    <add key="SMPT_Name" value="mail.gmx.com"/>
    <add key="SMPT_UseDefaultCredentials" value="1"/>
    <add key="SMPT_EnableSsl" value="0"/>
    <add key="SMPT_Port" value="25"/>
    <add key="EmailLinkTimeOut" value="2880"/>
    <add key="net.sabapardazesh.pg.merchant" value="http://pg.tejaratbank.net/paymentGateway/services/merchant.wsdl"/>
    <add key="OnlinePaymentWebsite" value="https://ikc.shaparak.ir/TPayment/Payment/index"/>
    <add key="NezamMerchantId" value="F198"/>
    <add key="EpayDocMerchantId" value="A096"/>
    <add key="EpayMemberMerchantId" value="A094"/>
    <add key="EpayTSMerchantId" value="F198"/>
    <add key="EpayAmoozeshMerchantId" value="ADEE"/>
    <add key="EpaySandoghRefahMerchantId" value="F198"/>
    <add key="IsZeroInvoiceCheck" value="false"/>
    <add key="LetterActionDuration" value="5"/>
    <add key="WFExpireDateDuration" value="1"/>
    <add key="CurrentCitId" value="317"/>
    <add key="CurrentCounId" value="1"/>
    <add key="CurrentProvinceId" value="16"/>
    <add key="CurrentProvinceNezamCode" value="17"/>
    <add key="CacheDuration" value="3600"/>
    <add key="DbConnectTimeout" value="3600"/>
    <add key="CheckMunPermission" value="false"/>
    <add key="CreateAccount" value="false"/>
    <add key="AccountSepratorChar" value="-"/>
    <add key="IdAmoozeshConditionsChecked" value="false"/>
    <add key="NezamFarsWebsiteAddress" value="https://fceo.ir"/>
    <add key="IsMemberSearchAccessible" value="false"/>
    <add key="DefaultNewsExpireDate" value="3"/>
    <add key="DefaultPermanentMemberDocExpireDate" value="3"/>
    <add key="DefaultTemporaryMemberDocExpireDate" value="1"/>
    <add key="DefaultPermanentImplementerDocExpireDate" value="3"/>
    <add key="DefaultTemporaryImplementerDocExpireDate" value="1"/>
    <add key="DefaultPermanentObserverDocExpireDate" value="3"/>
    <add key="DefaultTemporaryObserverDocExpireDate" value="1"/>
    <add key="CurrentAgentCode" value="1"/>
    <add key="IsDocMemberFileMajorCheckInComission" value="0"/>
    <add key="IsEngOfficeMemberConfirmRequestNeeded" value="0"/>
    <add key="IsOfficeMemberConfirmRequestNeeded" value="0"/>
    <add key="IsJobDurationNeedForMeFileChecked" value="0"/>
    <add key="EntezamiReplySaveTime" value="15"/>
    <add key="EntezamiRivisionSaveTime" value="15"/>
    <add key="MembershipRegTimeout" value="93"/>
    <add key="AccountingOwnerName" value="نظام مهندسی ساختمان فارس"/>
    <add key="AccountingNumber" value=""/>
    <add key="LicenceInqueryRequestAsigner" value="2"/>
    <add key="TSProjectIsBasedOnStep" value="0"/>
    <add key="HaveTempPassMeId" value="false"/>
    <add key="HaveTempPassOfficId" value="false"/>
    <add key="HaveTempPassEmpId" value="true"/>
    <add key="HaveTempPassMunipulicityId" value="false"/>
    <add key="HaveTempPassStlId" value="false"/>
    <add key="HaveTempPassTempMemberId" value="false"/>
    <add key="HaveTempPassTSProjectOwnerId" value="false"/>
    <add key="HaveTempPassTSImplementerOffice" value="false"/>
    <add key="IsObserverDocExpireDateChecked" value="0"/>
    <add key="IsMaxJobCapacityCheched" value="1"/>
    <add key="ProjectMaxFoundationForDesignerWithOutDocumentQualification" value="700"/>
    <add key="net.tejaratbank.pg.merchant" value="http://pg.tejaratbank.net/paymentGateway/"/>
    <add key="EPaymentTest" value="0"/>
    <add key="DigitLenght" value="10"/>
    <add key="DigitLenghtPOS" value="10"/>
    <add key="TafziliProjectLenght" value="5"/>
    <add key="TafziliMemberLenght" value="5"/>
    <add key="DigitLenghtMembership" value="6"/>
    <add key="CheckObs" value="true"/>
    <add key="Openo" value="1"/>
    <add key="Openm" value="1"/>
    <add key="esupTest" value="false"/>
    <add key="sendesup" value="0"/>
    <add key="mtest" value="756"/>
    <add key="CapWreqOth" value="1"/>
    <add key="CapWreqM" value="1"/>
    <add key="WorkTax" value="0"/>
    <add key="MsgOff" value="0"/>
    <add key="MsgOwnerOff" value="0"/>
    <add key="DateO" value="1399/05/24"/>
    <add key="SMSMagfa.SOAPSmsQueue" value="https://sms.magfa.com/services/urn:SOAPSmsQueue"/>
    <add key="CheckOfflineDebt.CheckOfflineDebt" value="http://193.19.144.250:8092/CheckOfflineDebt.asmx"/>
    <add key="LoanWebService.LoanWebService" value="http://193.19.144.250:8741/LoanWebService.asmx"/>
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--<caching>
      <sqlCacheDependency enabled="true" pollTime="1000">
        <databases>
          <add name="NezamFars" connectionStringName="NezamFarsConnectionString1" pollTime="5000"/>
        </databases>
      </sqlCacheDependency>
    </caching>-->
    <pages enableViewState="true" enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5">
      <tagMapping>
        <add tagType="System.Web.UI.WebControls.CompareValidator" mappedTagType="Sample.Web.UI.Compatibility.CompareValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.CustomValidator" mappedTagType="Sample.Web.UI.Compatibility.CustomValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RangeValidator" mappedTagType="Sample.Web.UI.Compatibility.RangeValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RegularExpressionValidator" mappedTagType="Sample.Web.UI.Compatibility.RegularExpressionValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RequiredFieldValidator" mappedTagType="Sample.Web.UI.Compatibility.RequiredFieldValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.ValidationSummary" mappedTagType="Sample.Web.UI.Compatibility.ValidationSummary, Validators, Version=1.0.0.0"/>
        <add tagType="PersianDateControls.PersianDateValidator" mappedTagType="Sample.Web.UI.Compatibility.PersianDateValidator, Validators, Version=1.0.0.0"/>
      </tagMapping>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
        <!--<add namespace="Microsoft.AspNet.Identity" />-->
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <identity impersonate="true"/>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Data.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Charts.v17.1.Core, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxTreeList.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraPrinting.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraReports.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraReports.v17.1.Web, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraEditors.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraTreeList.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Utils.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraCharts.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.PivotGrid.v17.1.Core, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraPivotGrid.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraNavBar.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraVerticalGrid.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraRichEdit.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraBars.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxPivotGrid.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxSpellChecker.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.SpellChecker.v17.1.Core, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraCharts.v17.1.Web, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraPrinting.v17.1.Design, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraReports.v17.1.Design, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraBars.v17.1.Design, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraEditors.v17.1.Design, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Xpo.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxScheduler.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraScheduler.v17.1.Core, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraReports.v17.1.Extensions, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.CodeParser.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Design.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.RichEdit.v17.1.Core, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraCharts.v17.1.Extensions, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxThemes.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Printing.v17.1.Core, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="DevExpress.Web.Bootstrap.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.Resources.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="8048576" executionTimeout="240" requestValidationMode="2.0" maxQueryStringLength="2097151"/>
    <!--<httpRuntime maxRequestLength="20480" executionTimeout="240" requestValidationMode="2.0" maxQueryStringLength="2097151" />-->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" name="NEZAMFARS.ASPXAUTH" protection="All" path="/" timeout="60" slidingExpiration="true"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false"/>
      <add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false"/>
      <add type="Website.SmartPhoneService,App_Code" verb="*" path="Member"/>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false"/>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false"/>
    </httpHandlers>
    <!--<globalization culture="fa-IR" uiCulture="fa-IR" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8" />-->
    <sessionState timeout="60" mode="InProc" compressionEnabled="true"/>
    <machineKey validationKey="CBF56FD2C847EAC41F5AC876A599C48A03F84DC51A303BF27E3D7DD6FF394A949462BDCC5E21CCE6ED6363E3EE342F055F5FD2375CE3B1E7D592167D2CCB99C1" decryptionKey="FEF74085BF37C9E5D6A4CA189605A62FFE6BCF15F033CEADF1CCC974CD7A7A65" validation="SHA1" decryption="AES"/>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </modules>
    <handlers>
      <!--<add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />-->
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2097151000" maxQueryString="90000"/>
      </requestFiltering>
    </security>
    <!--<rewrite>
            <rewriteMaps>
                <rewriteMap name="FarsNezamURLRewit">
                </rewriteMap>
            </rewriteMaps>
            <rules>
                <rule name="Prevent image hotlinking">
                    <match url=".*\.(gif|jpg|png)$" />
                    <conditions>
                        <add input="{HTTP_REFERER}" pattern="^$" />
                        <add input="{HTTP_REFERER}" pattern="^http://www\.fceo\.ir/.*$" />
                    </conditions>
                    <action type="Rewrite" url="http://www.fceo.ir/images/say_no_to_hotlinking.jpg" />
                </rule>
        <rule name="Redirect to https" stopProcessing="true">
        <match url="^(.*)$"/>
        <conditions>
          <add input="{HTTPS}" pattern="^OFF$"/>
          <add input="{HTTP_HOST}" matchType="Pattern" pattern="^192.168.0.200$" negate="true" /> 
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="^87.248.140.195$" negate="true" /> 
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="^http://87.248.140.195$" negate="true" /> 
        </conditions>
        <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther"/>
        </rule>                 
            </rules>
        </rewrite>-->
    <!--<staticContent>
      <mimeMap fileExtension=".fdb" mimeType="application/acad" />
      <mimeMap fileExtension=".e2k" mimeType="application/acad" />
      <mimeMap fileExtension=".edb" mimeType="application/acad" />
      <mimeMap fileExtension=".dwg" mimeType="application/acad" />
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>-->
  </system.webServer>
  <devExpress>
    <settings rightToLeft="false" accessibilityCompliant="false" bootstrapMode="Bootstrap3" doctypeMode="Html5" checkReferencesToExternalScripts="true" protectControlState="true" ieCompatibilityVersion="edge"/>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false"/>
    <themes enableThemesAssembly="false" styleSheetTheme="" theme="" customThemeAssemblies="" baseColor="" font=""/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TSOAPSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="MerchantBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_ITokens">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_ITokens1"/>
        <binding name="BasicHttpBinding_IVerify">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_IVerify1"/>
        <binding name="SadraCapacityWebServiceSoap"/>
        <binding name="BasicHttpBinding_IsrvEngineerToOthers" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
        <binding name="BasicHttpBinding_IsrvEngineerToOthers1" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
        <binding name="SendSoap"/>
        <binding name="ConfirmServiceSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="ConfirmServiceSoap1"/>
        <binding name="SaleServiceSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="SaleServiceSoap1"/>
        <binding name="CheckOfflineDebtSoap"/>
        <binding name="LoanWebServiceSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://sms.magfa.com/services/urn:SOAPSmsQueue" binding="basicHttpBinding" bindingConfiguration="TSOAPSoapBinding" contract="SMSMagfa.SoapSmsQueuableImplementation" name="TSOAP"/>
      <endpoint address="http://pg.tejaratbank.net/paymentGateway/services/merchant.wsdl" binding="basicHttpBinding" bindingConfiguration="MerchantBinding" contract="OnlinePaymentWSDL.Merchant" name="MerchantPort"/>
      <endpoint address="https://ikc.shaparak.ir/TToken/Tokens.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITokens" contract="EpaymentToken.ITokens" name="BasicHttpBinding_ITokens"/>
      <endpoint address="https://ikc.shaparak.ir/TVerify/Verify.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVerify" contract="EpaymentVerify.IVerify" name="BasicHttpBinding_IVerify"/>
      <endpoint address="http://193.19.144.250:2025/SadraCapacityWebService.asmx" binding="basicHttpBinding" bindingConfiguration="SadraCapacityWebServiceSoap" contract="ServiceReferenceSadraCapacity.SadraCapacityWebServiceSoap" name="SadraCapacityWebServiceSoap"/>
      <endpoint address="http://esup.shiraz.ir/EngineerToOther/srvEngineerToOthers.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IsrvEngineerToOthers" contract="WorkRequestsrvEngineerToOthers.IsrvEngineerToOthers" name="BasicHttpBinding_IsrvEngineerToOthers"/>
      <endpoint address="http://saraweb.shiraz.ir/EngineerToOthers/srvEngineerToOthers.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IsrvEngineerToOthers1" contract="WorkRequestsrvEngineerToOthersTest.IsrvEngineerToOthers" name="BasicHttpBinding_IsrvEngineerToOthers1"/>
      <endpoint address="http://sms.prdco.ir/api/send.asmx" binding="basicHttpBinding" bindingConfiguration="SendSoap" contract="SMSPrdcoAsync.SendSoap" name="SendSoap"/>
      <endpoint address="https://pec.shaparak.ir/NewIPGServices/Confirm/ConfirmService.asmx" binding="basicHttpBinding" bindingConfiguration="ConfirmServiceSoap" contract="ParsianPGWConfirmPaymentServices.ConfirmServiceSoap" name="ConfirmServiceSoap"/>
      <endpoint address="https://pec.shaparak.ir/NewIPGServices/Sale/SaleService.asmx" binding="basicHttpBinding" bindingConfiguration="SaleServiceSoap" contract="ParsianPGWSalePaymentServices.SaleServiceSoap" name="SaleServiceSoap"/>
      <endpoint address="http://193.19.144.250:8092/CheckOfflineDebt.asmx" binding="basicHttpBinding" bindingConfiguration="CheckOfflineDebtSoap" contract="CheckOfflineDebt.CheckOfflineDebtSoap" name="CheckOfflineDebtSoap"/>
      <endpoint address="http://193.19.144.250:8741/LoanWebService.asmx" binding="basicHttpBinding" bindingConfiguration="LoanWebServiceSoap" contract="LoanWebService.LoanWebServiceSoap" name="LoanWebServiceSoap"/>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.1.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <web.optimization>
    <bundles>
      <bundle virtualPath="~/Content/sample" transform="System.Web.Optimization.JsMinify, System.Web.Optimization">
        <content/>
      </bundle>
    </bundles>
  </web.optimization>
</configuration>