<?xml version="1.0" encoding="utf-8" ?>
<parameters>
	<parameter Name="Font" Value="12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif"></parameter>
	<parameter Name="Base Color" Value="#F7A233" Type="Color"></parameter>
	<parameter Name="Table Color" Value="#F7B033" Type="Color" Base="Base Color" Expression="1.124,1,1"></parameter>
	<parameter Name="ProgressBarIndicator Color" Value="#F7B35A" Type="Color" Base="Base Color" Expression="1,0.8,1"></parameter>
	<parameter Name="CalendarWeekend Color" Value="#F75D33" Type="Color" Base="Base Color" Expression="0.374,1,1"></parameter>
	<parameter Name="GroupType Color" Value="#D1492B" Type="Color" Base="Base Color" Expression="0.312,1,0.847"></parameter>
	<parameter Name="TimelineDateHeader Color" Value="#F7DC76" Type="Color" Base="Base Color" Expression="1.4,0.66,1"></parameter>
	<parameter Name="TimeMarkerLine Color" Value="#F7CD54" Type="Color" Base="Base Color" Expression="1.312,0.833,1"></parameter>
</parameters>
